<!DOCTYPE html>
<html>
<head>
  <title>Activecom</title>
  <%= stylesheet_link_tag    "activecom/application", media: "all" %>
  <%= javascript_include_tag "activecom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
